body {
    font-family: 'Quicksand', sans-serif;
}
.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url('../img/capa-bw.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-grid:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.3);
}

.navegacao {
    height: 60px;
    width: 100%;
    display: fixed;
    grid-column: 7 / -1;
    border-radius: 5px 0 0 5px;
    z-index: 1;
}
.navegacao ul{
    display: flex;
    justify-content: flex-end;
}
.navegacao ul li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.navegacao ul li:hover {
    border-bottom: 2px solid #fff;
}
.navegacao a {
    color: #fff; 
}

.atual {
    border-bottom: 2px solid #fff;
}
.celso-titulo {
    font-family: 'Intro Rust G';
    font-weight: 400;
    font-size: 9rem;
    color: #fff;
    grid-column: 7 / 11;
    justify-self: start;
    align-self: center;
    text-align: center;
    margin: 50px 0;
    line-height: 70px;
    letter-spacing: 10px;
    width: 520px;
    z-index: 1;
}
.machado {
    font-size: 5rem;
}
.button {
    font-family: vortice-concept, sans-serif;
    letter-spacing: 8px;
    display: block;
    grid-column: 8 / 11;
    text-align: center;
    justify-self: start;
    padding: 0 20px;
    width: 300px;
    height: 60px;
    border: 5px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; 
    cursor: pointer;
}
.button:hover {
    background-color: #fff;
    color: #222129;
}
.social {
    grid-column: 1 / 5;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 70px;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}
.social ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social ul li {
    margin-left: 80px;
    font-size: 1.5rem;
}

.social a {
    color: #fff;
}
.social .instagram:hover {
    color: #bc2a8d
}
.social .facebook:hover {
    color: #4267B2
}
.social .soundcloud:hover {
    color: #ff8800;
}
.social .spotify:hover {
    color: #1DB954
}

/* MAIN */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 700px;
}
.flex-container .img {
    width: 30%;
    min-width: 450px;
    filter: grayscale(1);
    transition: .5s;   
}
.color.ativo {
    filter: grayscale(0);
    animation: addColor;
}

.descricao {
    width: 520px;
    line-height: 22px;
}
.titulo-banda {
    display: inline-block;
    font-family: vortice-concept, sans-serif;
    color: #222129;
    height: 25px;
    font-size: 1.2rem;
    position: relative;
}
.titulo-banda::after {
    content: '';
    width: 50px;
    height: 40px;
    border: 3px solid #222129;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
}   
.date {
    display: block;
    margin: 20px 0 5px 0;
    font-weight: bold;
}
em {
    font-weight: bold;
}
.click {
    font-family: vortice-concept, sans-serif;
    letter-spacing: 8px;
    display: block;
    text-align: center;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: 3px solid #222129;
    border-radius: 5px;
    color: #222129;
    background-color: transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    cursor: pointer;
}
.click:hover {
    background-color:#222129;
    color: #fff;
}
/* DARK SECTION */

.dark {
    background: #222129;
    color: #fff;
    flex-direction: row-reverse;
}
.descricao-dark {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.dark .titulo-banda {
    color: #fff;
}
.dark .titulo-banda::after{
    border: 3px solid #fff;
}
.descricao-dark p {
    text-align: left;
}
.dark .click {
    color: #fff;
    border: 3px solid #fff;
}
.dark .click a {
    color: #fff;
}
.dark .click:hover {
    background-color: #fff;
    color: #222129;
}
.dark .click:hover a{
    color: #222129;

}

/* OBSERVE */
.observe .titulo-banda {
    padding-left: 35px;
}
.observe .titulo-banda:after {
    width: 100px; 
    top: -15px;
    left: 0;
}
/* CELSO 3D */
.celso-3d .titulo-banda {
    padding-right: 35px;
}
.celso-3d .titulo-banda:after {
    width: 50px; 
    top: -15px;
    right: 0;
}
 /* OFICINA G3  */
 .oficina-g3 .titulo-banda {
    padding-left: 35px;
}
.oficina-g3 .titulo-banda:after {
    width: 110px; 
    top: -15px;
    left: 0;
}
footer  {
    background-color: #222129;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1170px) {
    .header-grid {
        grid-template-columns: 1fr 1fr 120px 1fr 1fr;
    }
    .navegacao {
        grid-column: 3 / -1;
    }
    .celso-titulo {
        grid-column: 3 / 5  ;
    }
    .button {
        grid-column: 4 / 5;
    }
    .social {
        grid-column: 1 / 3;
    }
    .flex-container {
        flex-direction: column;
        height: 130vh;
    }
    .descricao {
        width: 450px;
        justify-content: left;
        line-height: 22px;
    }
    .flex-container .img {
        width: 40%;
    }
    .descricao-dark {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media(max-width: 900px) {
    .header-grid {
        grid-template-columns: 100px 1fr 100px;
    }
    .navegacao {
        grid-column: 2;
        visibility: hidden;

    }
    .celso-titulo {
        grid-column: 2;
        margin: 0 auto;
    }
    .button {
        grid-column: 2;
        margin: 0 auto;
    }
    .social {
        grid-column: 2;
        margin: 0 auto;
    }
    .social ul li:first-child {
        margin-left: 0;
    }
    .header-grid:before {
        background-color:rgba(0,0,0,0.6);
    }
}
