@media(max-width: 1170px) {

    .celso-titulo {
        width: 100%;
        height: auto;
    }

    .flex-container{
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }
    .flex-container .img {
        width: 50%;
        min-width: 570px;
        margin-bottom: 25px;
    }
    .descricao {
        width: 570px;
        justify-content: left;
        line-height: 22px;
        margin-top: 25px;
    }
    .descricao-dark {
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media(max-width: 900px) {
    .header-grid {
        grid-template-rows: 100px 180px 1fr 1fr;
        grid-template-columns: 1fr;
        background-attachment:scroll;
        align-items: center;
        height: 100%;
    }
    .navegacao {
        grid-column: 1;
        visibility: hidden;
        display: none;
    }
    .celso-titulo {
        line-height: 80px;
        font-size: 5rem;
        grid-column: 1;
        width: 100%;
        margin: 0 auto;
    }
    .button {
        grid-column: 1;
        margin: 0 auto;
    }
    .social {
        grid-column: 1;
        margin: 0 auto;
    }
    .social ul li:first-child {
        margin-left: 0;
    }
    .menu-mobile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burger {
        display: block;
    }
    .flex-container .img {
        width: 50%;
        min-width: 450px;
    }
    .descricao {
        width: 450px;
        justify-content: left;
        line-height: 22px;
    }
    .listen {
        width: 100%;
    }
}
@media(max-width: 630px) {
    .header-grid {
        grid-template-rows: 200px 150px 120px 120px 1fr;
        background-size: cover;
        background-position:right;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .celso-titulo {
        line-height: 50px;
        font-size: 6.5rem;
        letter-spacing: 10px;
        z-index: 1;
    }
    .quote {
        margin-top: 20px;
    }
    .machado {
        font-size: 3.5rem;
    }
    .flex-container .img {
        width: 95%;
        min-width: 100px;
    }

    .descricao {
        width: 90%;
        line-height: 22px;
    }
}
@media(max-width: 400px) {
    .celso-titulo {
        font-size: 4.8rem;
        line-height: 35px;
    }
    .machado {
        font-size: 2.6rem;
    }
    .social ul li {
        margin-left: 50px;  
    }
    .button {
        letter-spacing: 5px;
        font-size: .8rem;
        width: 250px;
        border: 3px solid #fff;
    }
}

/* MUSIC  */
@media(max-width: 1170px) {
    .header-grid-music {
        background-size: 95%;
    }
}
@media(max-width: 900px) {
    .header-grid-music {
        background-size: 100%;
        background-position: -10px -100px;
    }
    .quote {
        grid-column: 1;
    }
}
@media(max-width: 630px) {
    .header-grid-music {
        background-size: 200%;
        background-position: -200px 0;
    }
    .quote {
        font-size: 1.3rem;
        align-self:flex-start;
    }
    .center-container {
        justify-content: center;
    }
}
@media(max-width: 530px) {
    .album iframe {
        width: 315px;
        height: 315px;
    }
    .tracks {
        width: 330px;
    }
}

@media(max-width: 415px) {
    .header-grid-music {
        background-size: 300%;
        background-position: -350px -100px;
    }
}
@media(max-width: 400px) {
    .album iframe {
        width: 300px;
        height: 300px;
    } 
    .tracks {
        width: 320px;
    }
}
@media(max-width: 340px) {
    .album iframe {
        width: 280px;
        height: 280px;
    } 
    .tracks {
        width: 280px;
    }
}



