
body {
    background-color: #222129;
}
@font-face {
    font-family: 'introrustg-base2line';
    src: url('introrustg-base2line-webfont.woff2') format('woff2'),
         url('introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header-grid-music {
    background-image: url('../img/celso-pick.png');
    background-size: 680px;
    background-position: 110px 10px;
    background-repeat: no-repeat;
    background-color: #212121;
}
.header-grid-music::before {
    display: none;
}
.quote {
    grid-column: 7;
    grid-row: 3;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    justify-self: center;
    align-self: center;

    font-family: satisfy, sans-serif;

    font-weight: 400;

    font-style: normal;
}
.button {
    grid-row: 4;
}
.main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    background-color: #fff;
}
.celso-3d {
    margin-bottom: 50px;
}
.navegacao li:hover a {
    border-bottom: 2px solid #222129;
}
.atual {
    border-bottom: 2px solid #222129;
    ;
}
.project-title {
    font-family: 'introrustg-base2line';
    font-size: 5rem;
    color: #222;
}
.celso-3d  {
    height: 100%;
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mycd iframe {
    box-shadow: 10px 10px 10px black;
}
.atual {
    border-bottom: 2px solid #fff;
}
@media(max-width: 1170px) {
    .quote {
        grid-column: 3;
    }
}
@media(max-width: 900px) {
    .header-grid-music {
        background-size: 50%;
        background-position: 40% 10px;
    }
    .quote {
        grid-column: 1;
    }
}
@media(max-width: 630px) {
    .header-grid-music {
        background-size: 90%;
        background-position: 10% 60px;
    }
    .quote {
        font-size: 1.3rem;
        align-self:flex-start;
    }
}
@media(max-width: 400px) {
    .header-grid-music {
        background-size: 90%;
        background-position: 0 60px;
    }
}