
body {
    background-color: #222129;
}
.header-grid {
    background-image: url('../img/celso-pick.png');
    background-size: 680px;
    background-position: 110px 10px;
    background-repeat: no-repeat;
    background-color: #212121;
}
.main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.celso-3d {
    margin-bottom: 50px;
}
.navegacao li:hover a {
    border-bottom: 2px solid #222129;
}
.atual {
    border-bottom: 2px solid #222129;
    ;
}
.project-title {
    font-family: 'Intro Rust G';
    font-size: 5rem;
    color: #fff;
}
.celso-3d  {
    height: 100%;
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mycd iframe {
    box-shadow: 10px 10px 10px black;
}
.atual {
    border-bottom: 2px solid #fff;
}