img {
    width: 100%;
}
.filter {
    height: 100vh;
    background-image: url('../img/gif/walking.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}

.featuring .titulo-banda {
    padding-left: 20px;
}

.featuring .titulo-banda::after {
    width: 80px;
    left: 0;
}

.voce-guitarrista .titulo-banda {
    padding-right: 20px;
}

.voce-guitarrista .titulo-banda::after {
    width: 120px;
    right: 0;
}

.teaching .titulo-banda {
    padding-left: 20px;
}

.teaching .titulo-banda::after {
    width: 80px;
    left: 0;
}

@media(max-width: 720px) {
    .modal {
        width: 480px;
    }
    .image {
        width: 340px;
        filter: grayscale(0)
    }
    .project-title {
        margin: 5rem 0 1rem 0;
    }
}
@media(max-width: 630px) {
    .modal {
        width: 440px;
        padding: 1rem;
    }
    .close {
        top: -180px;
    }
    .imagens {
        margin: 0;
    }

}
@media(max-width: 530px) {
    .modal {
        width: 300px;
    }
   
    .image::before {
        display: none;
    }
}
@media(max-width: 370px) {
    .modal {
        width: 270px;
    }
}
@media(max-width: 350px) {
    .modal {
        width: 250px;
    }
}

