img {
    width: 100%;
}
.filter {
    height: 100vh;
    background-image: url('../img/gif/walking.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}

.featuring .titulo-banda {
    padding-left: 20px;
}

.featuring .titulo-banda::after {
    width: 80px;
    left: 0;
}

.voce-guitarrista .titulo-banda {
    padding-right: 20px;
}

.voce-guitarrista .titulo-banda::after {
    width: 120px;
    right: 0;
}

.teaching .titulo-banda {
    padding-left: 20px;
}

.teaching .titulo-banda::after {
    width: 80px;
    left: 0;
}


/* MODAL */

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0, .6);
    z-index: 9999;
    animation: animaModal .5s ease-in-out;
    
}
.modal {
    background: #dedede;
    font-weight: 300;
    width: 620px;
    min-width: 250px;
    height: 320px;
    overflow-y: scroll;
    padding: 2rem;
    box-shadow: 0 0 0 10px #fff;
    margin-right: -35px;
}
.modal h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
.modal p {
    margin-top: 1rem;
}
.close {
    position: relative;
    top: -190px;
    right: -15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: #8f8f8f;
    color: #fff;
    box-shadow: 0 2px 4px #000;
    cursor: pointer;
}
.modal-container.ativo {
    display: flex;
}
@keyframes animaModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.textos-modal {
    display: none;
}
.data {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}
@media(max-width: 720px) {
    .modal {
        width: 480px;
    }
    .image {
        width: 340px;
        filter: grayscale(0)
    }
    .project-title {
        margin: 5rem 0 1rem 0;
    }
}
@media(max-width: 630px) {
    .modal {
        width: 440px;
        padding: 1rem;
    }
    .close {
        top: -180px;
    }
    .imagens {
        margin: 0;
    }

}
@media(max-width: 530px) {
    .modal {
        width: 300px;
    }
   
    .image::before {
        display: none;
    }
}
@media(max-width: 370px) {
    .modal {
        width: 270px;
    }
}
@media(max-width: 350px) {
    .modal {
        width: 250px;
    }
}

